#technologies .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
#technologies span{
  background-color: var(--bg-techs);
  border-radius: 30px;
  color: #000000;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px;
  margin-bottom: 10px;
  width: 86px;
}